web/WEB-INF/wsdl/localhost_8080/ISSRProject/IssrWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="IssrWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ISSRProject/IssrWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserList">
<part name="parameters" element="tns:getUserList"/>
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse"/>
</message>
<message name="OperationNotPermittedException">
<part name="fault" element="tns:OperationNotPermitted"/>
</message>
<message name="NoUsersException">
<part name="fault" element="tns:NoUsersException"/>
</message>
<message name="getSellProducts">
<part name="parameters" element="tns:getSellProducts"/>
</message>
<message name="getSellProductsResponse">
<part name="parameters" element="tns:getSellProductsResponse"/>
</message>
<message name="NoProductException">
<part name="fault" element="tns:NoProductException"/>
</message>
<message name="getExpiredProducts">
<part name="parameters" element="tns:getExpiredProducts"/>
</message>
<message name="getExpiredProductsResponse">
<part name="parameters" element="tns:getExpiredProductsResponse"/>
</message>
<message name="getReturnProducts">
<part name="parameters" element="tns:getReturnProducts"/>
</message>
<message name="getReturnProductsResponse">
<part name="parameters" element="tns:getReturnProductsResponse"/>
</message>
<message name="getLotByBarcode">
<part name="parameters" element="tns:getLotByBarcode"/>
</message>
<message name="getLotByBarcodeResponse">
<part name="parameters" element="tns:getLotByBarcodeResponse"/>
</message>
<message name="BarcodeNotValidException">
<part name="fault" element="tns:BarcodeNotValidException"/>
</message>
<message name="sellProducts">
<part name="parameters" element="tns:sellProducts"/>
</message>
<message name="sellProductsResponse">
<part name="parameters" element="tns:sellProductsResponse"/>
</message>
<message name="QuantityNotValidException">
<part name="fault" element="tns:QuantityNotValidException"/>
</message>
<message name="SellingExpiredProduct">
<part name="fault" element="tns:SellingExpiredProduct"/>
</message>
<message name="removeExpiredProducts">
<part name="parameters" element="tns:removeExpiredProducts"/>
</message>
<message name="removeExpiredProductsResponse">
<part name="parameters" element="tns:removeExpiredProductsResponse"/>
</message>
<message name="RemovingNotExpiredProduct">
<part name="fault" element="tns:RemovingNotExpiredProduct"/>
</message>
<message name="returnProducts">
<part name="parameters" element="tns:returnProducts"/>
</message>
<message name="returnProductsResponse">
<part name="parameters" element="tns:returnProductsResponse"/>
</message>
<message name="getLocalIndexes">
<part name="parameters" element="tns:getLocalIndexes"/>
</message>
<message name="getLocalIndexesResponse">
<part name="parameters" element="tns:getLocalIndexesResponse"/>
</message>
<message name="getGlobalIndexes">
<part name="parameters" element="tns:getGlobalIndexes"/>
</message>
<message name="getGlobalIndexesResponse">
<part name="parameters" element="tns:getGlobalIndexesResponse"/>
</message>
<message name="getStoreList">
<part name="parameters" element="tns:getStoreList"/>
</message>
<message name="getStoreListResponse">
<part name="parameters" element="tns:getStoreListResponse"/>
</message>
<message name="NoStoresException">
<part name="fault" element="tns:NoStoresToView"/>
</message>
<message name="orderProduct">
<part name="parameters" element="tns:orderProduct"/>
</message>
<message name="orderProductResponse">
<part name="parameters" element="tns:orderProductResponse"/>
</message>
<message name="RequiredFieldEmptyException">
<part name="fault" element="tns:RequiredFieldEmptyException"/>
</message>
<message name="getLogList">
<part name="parameters" element="tns:getLogList"/>
</message>
<message name="getLogListResponse">
<part name="parameters" element="tns:getLogListResponse"/>
</message>
<message name="NoLogException">
<part name="fault" element="tns:NoLogException"/>
</message>
<message name="createUpdateUser">
<part name="parameters" element="tns:createUpdateUser"/>
</message>
<message name="createUpdateUserResponse">
<part name="parameters" element="tns:createUpdateUserResponse"/>
</message>
<message name="LoginNotValidException">
<part name="fault" element="tns:LoginNotValidException"/>
</message>
<message name="EmailNotValidException">
<part name="fault" element="tns:EmailNotValidException"/>
</message>
<message name="RoleNotValidException">
<part name="fault" element="tns:RoleNotValidException"/>
</message>
<message name="insertLot">
<part name="parameters" element="tns:insertLot"/>
</message>
<message name="insertLotResponse">
<part name="parameters" element="tns:insertLotResponse"/>
</message>
<message name="ExpirationDateNotValidException">
<part name="fault" element="tns:ExpirationDateNotValidException"/>
</message>
<message name="createProductType">
<part name="parameters" element="tns:createProductType"/>
</message>
<message name="createProductTypeResponse">
<part name="parameters" element="tns:createProductTypeResponse"/>
</message>
<message name="ProductTypeAlreadyPresentException">
<part name="fault" element="tns:ProductTypeAlreadyPresent"/>
</message>
<message name="getProductTypes">
<part name="parameters" element="tns:getProductTypes"/>
</message>
<message name="getProductTypesResponse">
<part name="parameters" element="tns:getProductTypesResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="LoginErrorException">
<part name="fault" element="tns:LoginError"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="getRoles">
<part name="parameters" element="tns:getRoles"/>
</message>
<message name="getRolesResponse">
<part name="parameters" element="tns:getRolesResponse"/>
</message>
<message name="NoRolesException">
<part name="fault" element="tns:NoRolesException"/>
</message>
<portType name="IssrWS">
<operation name="getUserList">
<input wsam:Action="http://webservices/IssrWS/getUserListRequest" message="tns:getUserList"/>
<output wsam:Action="http://webservices/IssrWS/getUserListResponse" message="tns:getUserListResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getUserList/Fault/OperationNotPermittedException"/>
<fault message="tns:NoUsersException" name="NoUsersException" wsam:Action="http://webservices/IssrWS/getUserList/Fault/NoUsersException"/>
</operation>
<operation name="getSellProducts">
<input wsam:Action="http://webservices/IssrWS/getSellProductsRequest" message="tns:getSellProducts"/>
<output wsam:Action="http://webservices/IssrWS/getSellProductsResponse" message="tns:getSellProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getSellProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getSellProducts/Fault/NoProductException"/>
</operation>
<operation name="getExpiredProducts">
<input wsam:Action="http://webservices/IssrWS/getExpiredProductsRequest" message="tns:getExpiredProducts"/>
<output wsam:Action="http://webservices/IssrWS/getExpiredProductsResponse" message="tns:getExpiredProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getExpiredProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getExpiredProducts/Fault/NoProductException"/>
</operation>
<operation name="getReturnProducts">
<input wsam:Action="http://webservices/IssrWS/getReturnProductsRequest" message="tns:getReturnProducts"/>
<output wsam:Action="http://webservices/IssrWS/getReturnProductsResponse" message="tns:getReturnProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getReturnProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getReturnProducts/Fault/NoProductException"/>
</operation>
<operation name="getLotByBarcode">
<input wsam:Action="http://webservices/IssrWS/getLotByBarcodeRequest" message="tns:getLotByBarcode"/>
<output wsam:Action="http://webservices/IssrWS/getLotByBarcodeResponse" message="tns:getLotByBarcodeResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getLotByBarcode/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getLotByBarcode/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/IssrWS/getLotByBarcode/Fault/BarcodeNotValidException"/>
</operation>
<operation name="sellProducts">
<input wsam:Action="http://webservices/IssrWS/sellProductsRequest" message="tns:sellProducts"/>
<output wsam:Action="http://webservices/IssrWS/sellProductsResponse" message="tns:sellProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/sellProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/sellProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/IssrWS/sellProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/IssrWS/sellProducts/Fault/QuantityNotValidException"/>
<fault message="tns:SellingExpiredProduct" name="SellingExpiredProduct" wsam:Action="http://webservices/IssrWS/sellProducts/Fault/SellingExpiredProduct"/>
</operation>
<operation name="removeExpiredProducts">
<input wsam:Action="http://webservices/IssrWS/removeExpiredProductsRequest" message="tns:removeExpiredProducts"/>
<output wsam:Action="http://webservices/IssrWS/removeExpiredProductsResponse" message="tns:removeExpiredProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/removeExpiredProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/removeExpiredProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/IssrWS/removeExpiredProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/IssrWS/removeExpiredProducts/Fault/QuantityNotValidException"/>
<fault message="tns:RemovingNotExpiredProduct" name="RemovingNotExpiredProduct" wsam:Action="http://webservices/IssrWS/removeExpiredProducts/Fault/RemovingNotExpiredProduct"/>
</operation>
<operation name="returnProducts">
<input wsam:Action="http://webservices/IssrWS/returnProductsRequest" message="tns:returnProducts"/>
<output wsam:Action="http://webservices/IssrWS/returnProductsResponse" message="tns:returnProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/returnProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/returnProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/IssrWS/returnProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/IssrWS/returnProducts/Fault/QuantityNotValidException"/>
</operation>
<operation name="getLocalIndexes">
<input wsam:Action="http://webservices/IssrWS/getLocalIndexesRequest" message="tns:getLocalIndexes"/>
<output wsam:Action="http://webservices/IssrWS/getLocalIndexesResponse" message="tns:getLocalIndexesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getLocalIndexes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getLocalIndexes/Fault/NoProductException"/>
</operation>
<operation name="getGlobalIndexes">
<input wsam:Action="http://webservices/IssrWS/getGlobalIndexesRequest" message="tns:getGlobalIndexes"/>
<output wsam:Action="http://webservices/IssrWS/getGlobalIndexesResponse" message="tns:getGlobalIndexesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getGlobalIndexes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getGlobalIndexes/Fault/NoProductException"/>
</operation>
<operation name="getStoreList">
<input wsam:Action="http://webservices/IssrWS/getStoreListRequest" message="tns:getStoreList"/>
<output wsam:Action="http://webservices/IssrWS/getStoreListResponse" message="tns:getStoreListResponse"/>
<fault message="tns:NoStoresException" name="NoStoresException" wsam:Action="http://webservices/IssrWS/getStoreList/Fault/NoStoresException"/>
</operation>
<operation name="orderProduct">
<input wsam:Action="http://webservices/IssrWS/orderProductRequest" message="tns:orderProduct"/>
<output wsam:Action="http://webservices/IssrWS/orderProductResponse" message="tns:orderProductResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/orderProduct/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/orderProduct/Fault/NoProductException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/IssrWS/orderProduct/Fault/RequiredFieldEmptyException"/>
</operation>
<operation name="getLogList">
<input wsam:Action="http://webservices/IssrWS/getLogListRequest" message="tns:getLogList"/>
<output wsam:Action="http://webservices/IssrWS/getLogListResponse" message="tns:getLogListResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getLogList/Fault/OperationNotPermittedException"/>
<fault message="tns:NoLogException" name="NoLogException" wsam:Action="http://webservices/IssrWS/getLogList/Fault/NoLogException"/>
</operation>
<operation name="createUpdateUser">
<input wsam:Action="http://webservices/IssrWS/createUpdateUserRequest" message="tns:createUpdateUser"/>
<output wsam:Action="http://webservices/IssrWS/createUpdateUserResponse" message="tns:createUpdateUserResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/OperationNotPermittedException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/RequiredFieldEmptyException"/>
<fault message="tns:LoginNotValidException" name="LoginNotValidException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/LoginNotValidException"/>
<fault message="tns:EmailNotValidException" name="EmailNotValidException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/EmailNotValidException"/>
<fault message="tns:RoleNotValidException" name="RoleNotValidException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/RoleNotValidException"/>
<fault message="tns:NoStoresException" name="NoStoresException" wsam:Action="http://webservices/IssrWS/createUpdateUser/Fault/NoStoresException"/>
</operation>
<operation name="insertLot">
<input wsam:Action="http://webservices/IssrWS/insertLotRequest" message="tns:insertLot"/>
<output wsam:Action="http://webservices/IssrWS/insertLotResponse" message="tns:insertLotResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/insertLot/Fault/OperationNotPermittedException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/IssrWS/insertLot/Fault/RequiredFieldEmptyException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/IssrWS/insertLot/Fault/BarcodeNotValidException"/>
<fault message="tns:ExpirationDateNotValidException" name="ExpirationDateNotValidException" wsam:Action="http://webservices/IssrWS/insertLot/Fault/ExpirationDateNotValidException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/insertLot/Fault/NoProductException"/>
</operation>
<operation name="createProductType">
<input wsam:Action="http://webservices/IssrWS/createProductTypeRequest" message="tns:createProductType"/>
<output wsam:Action="http://webservices/IssrWS/createProductTypeResponse" message="tns:createProductTypeResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/createProductType/Fault/OperationNotPermittedException"/>
<fault message="tns:ProductTypeAlreadyPresentException" name="ProductTypeAlreadyPresentException" wsam:Action="http://webservices/IssrWS/createProductType/Fault/ProductTypeAlreadyPresentException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/IssrWS/createProductType/Fault/RequiredFieldEmptyException"/>
</operation>
<operation name="getProductTypes">
<input wsam:Action="http://webservices/IssrWS/getProductTypesRequest" message="tns:getProductTypes"/>
<output wsam:Action="http://webservices/IssrWS/getProductTypesResponse" message="tns:getProductTypesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getProductTypes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/IssrWS/getProductTypes/Fault/NoProductException"/>
</operation>
<operation name="login">
<input wsam:Action="http://webservices/IssrWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservices/IssrWS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:LoginErrorException" name="LoginErrorException" wsam:Action="http://webservices/IssrWS/login/Fault/LoginErrorException"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://webservices/IssrWS/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://webservices/IssrWS/removeUserResponse" message="tns:removeUserResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/removeUser/Fault/OperationNotPermittedException"/>
<fault message="tns:RoleNotValidException" name="RoleNotValidException" wsam:Action="http://webservices/IssrWS/removeUser/Fault/RoleNotValidException"/>
<fault message="tns:NoUsersException" name="NoUsersException" wsam:Action="http://webservices/IssrWS/removeUser/Fault/NoUsersException"/>
</operation>
<operation name="getRoles">
<input wsam:Action="http://webservices/IssrWS/getRolesRequest" message="tns:getRoles"/>
<output wsam:Action="http://webservices/IssrWS/getRolesResponse" message="tns:getRolesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/IssrWS/getRoles/Fault/OperationNotPermittedException"/>
<fault message="tns:NoRolesException" name="NoRolesException" wsam:Action="http://webservices/IssrWS/getRoles/Fault/NoRolesException"/>
</operation>
</portType>
<binding name="IssrWSPortBinding" type="tns:IssrWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoUsersException">
<soap:fault name="NoUsersException" use="literal"/>
</fault>
</operation>
<operation name="getSellProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getExpiredProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getReturnProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getLotByBarcode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
</operation>
<operation name="sellProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
<fault name="SellingExpiredProduct">
<soap:fault name="SellingExpiredProduct" use="literal"/>
</fault>
</operation>
<operation name="removeExpiredProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
<fault name="RemovingNotExpiredProduct">
<soap:fault name="RemovingNotExpiredProduct" use="literal"/>
</fault>
</operation>
<operation name="returnProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
</operation>
<operation name="getLocalIndexes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getGlobalIndexes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getStoreList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoStoresException">
<soap:fault name="NoStoresException" use="literal"/>
</fault>
</operation>
<operation name="orderProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
</operation>
<operation name="getLogList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoLogException">
<soap:fault name="NoLogException" use="literal"/>
</fault>
</operation>
<operation name="createUpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
<fault name="LoginNotValidException">
<soap:fault name="LoginNotValidException" use="literal"/>
</fault>
<fault name="EmailNotValidException">
<soap:fault name="EmailNotValidException" use="literal"/>
</fault>
<fault name="RoleNotValidException">
<soap:fault name="RoleNotValidException" use="literal"/>
</fault>
<fault name="NoStoresException">
<soap:fault name="NoStoresException" use="literal"/>
</fault>
</operation>
<operation name="insertLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="ExpirationDateNotValidException">
<soap:fault name="ExpirationDateNotValidException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="createProductType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="ProductTypeAlreadyPresentException">
<soap:fault name="ProductTypeAlreadyPresentException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
</operation>
<operation name="getProductTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoginErrorException">
<soap:fault name="LoginErrorException" use="literal"/>
</fault>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RoleNotValidException">
<soap:fault name="RoleNotValidException" use="literal"/>
</fault>
<fault name="NoUsersException">
<soap:fault name="NoUsersException" use="literal"/>
</fault>
</operation>
<operation name="getRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoRolesException">
<soap:fault name="NoRolesException" use="literal"/>
</fault>
</operation>
</binding>
<service name="IssrWS">
<port name="IssrWSPort" binding="tns:IssrWSPortBinding">
<soap:address location="http://localhost:8080/ISSRProject/IssrWS"/>
</port>
</service>
</definitions>