web/WEB-INF/wsdl/localhost_8080/ISSRProject/ProductWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="ProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ISSRProject/ProductWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getSellProducts">
<part name="parameters" element="tns:getSellProducts"/>
</message>
<message name="getSellProductsResponse">
<part name="parameters" element="tns:getSellProductsResponse"/>
</message>
<message name="OperationNotPermittedException">
<part name="fault" element="tns:OperationNotPermitted"/>
</message>
<message name="NoProductException">
<part name="fault" element="tns:NoProductException"/>
</message>
<message name="getExpiredProducts">
<part name="parameters" element="tns:getExpiredProducts"/>
</message>
<message name="getExpiredProductsResponse">
<part name="parameters" element="tns:getExpiredProductsResponse"/>
</message>
<message name="getReturnProducts">
<part name="parameters" element="tns:getReturnProducts"/>
</message>
<message name="getReturnProductsResponse">
<part name="parameters" element="tns:getReturnProductsResponse"/>
</message>
<message name="getLotByBarcode">
<part name="parameters" element="tns:getLotByBarcode"/>
</message>
<message name="getLotByBarcodeResponse">
<part name="parameters" element="tns:getLotByBarcodeResponse"/>
</message>
<message name="BarcodeNotValidException">
<part name="fault" element="tns:BarcodeNotValidException"/>
</message>
<message name="removeExpiredProducts">
<part name="parameters" element="tns:removeExpiredProducts"/>
</message>
<message name="removeExpiredProductsResponse">
<part name="parameters" element="tns:removeExpiredProductsResponse"/>
</message>
<message name="QuantityNotValidException">
<part name="fault" element="tns:QuantityNotValidException"/>
</message>
<message name="RemovingNotExpiredProduct">
<part name="fault" element="tns:RemovingNotExpiredProduct"/>
</message>
<message name="returnProducts">
<part name="parameters" element="tns:returnProducts"/>
</message>
<message name="returnProductsResponse">
<part name="parameters" element="tns:returnProductsResponse"/>
</message>
<message name="sellProducts">
<part name="parameters" element="tns:sellProducts"/>
</message>
<message name="sellProductsResponse">
<part name="parameters" element="tns:sellProductsResponse"/>
</message>
<message name="SellingExpiredProduct">
<part name="fault" element="tns:SellingExpiredProduct"/>
</message>
<message name="insertLot">
<part name="parameters" element="tns:insertLot"/>
</message>
<message name="insertLotResponse">
<part name="parameters" element="tns:insertLotResponse"/>
</message>
<message name="RequiredFieldEmptyException">
<part name="fault" element="tns:RequiredFieldEmptyException"/>
</message>
<message name="ExpirationDateNotValidException">
<part name="fault" element="tns:ExpirationDateNotValidException"/>
</message>
<message name="createProductType">
<part name="parameters" element="tns:createProductType"/>
</message>
<message name="createProductTypeResponse">
<part name="parameters" element="tns:createProductTypeResponse"/>
</message>
<message name="ProductTypeAlreadyPresentException">
<part name="fault" element="tns:ProductTypeAlreadyPresent"/>
</message>
<message name="getProductTypes">
<part name="parameters" element="tns:getProductTypes"/>
</message>
<message name="getProductTypesResponse">
<part name="parameters" element="tns:getProductTypesResponse"/>
</message>
<message name="getLocalIndexes">
<part name="parameters" element="tns:getLocalIndexes"/>
</message>
<message name="getLocalIndexesResponse">
<part name="parameters" element="tns:getLocalIndexesResponse"/>
</message>
<message name="getGlobalIndexes">
<part name="parameters" element="tns:getGlobalIndexes"/>
</message>
<message name="getGlobalIndexesResponse">
<part name="parameters" element="tns:getGlobalIndexesResponse"/>
</message>
<portType name="ProductWS">
<operation name="getSellProducts">
<input wsam:Action="http://webservices/ProductWS/getSellProductsRequest" message="tns:getSellProducts"/>
<output wsam:Action="http://webservices/ProductWS/getSellProductsResponse" message="tns:getSellProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getSellProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getSellProducts/Fault/NoProductException"/>
</operation>
<operation name="getExpiredProducts">
<input wsam:Action="http://webservices/ProductWS/getExpiredProductsRequest" message="tns:getExpiredProducts"/>
<output wsam:Action="http://webservices/ProductWS/getExpiredProductsResponse" message="tns:getExpiredProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getExpiredProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getExpiredProducts/Fault/NoProductException"/>
</operation>
<operation name="getReturnProducts">
<input wsam:Action="http://webservices/ProductWS/getReturnProductsRequest" message="tns:getReturnProducts"/>
<output wsam:Action="http://webservices/ProductWS/getReturnProductsResponse" message="tns:getReturnProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getReturnProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getReturnProducts/Fault/NoProductException"/>
</operation>
<operation name="getLotByBarcode">
<input wsam:Action="http://webservices/ProductWS/getLotByBarcodeRequest" message="tns:getLotByBarcode"/>
<output wsam:Action="http://webservices/ProductWS/getLotByBarcodeResponse" message="tns:getLotByBarcodeResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getLotByBarcode/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getLotByBarcode/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/ProductWS/getLotByBarcode/Fault/BarcodeNotValidException"/>
</operation>
<operation name="removeExpiredProducts">
<input wsam:Action="http://webservices/ProductWS/removeExpiredProductsRequest" message="tns:removeExpiredProducts"/>
<output wsam:Action="http://webservices/ProductWS/removeExpiredProductsResponse" message="tns:removeExpiredProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/removeExpiredProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/removeExpiredProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/ProductWS/removeExpiredProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/ProductWS/removeExpiredProducts/Fault/QuantityNotValidException"/>
<fault message="tns:RemovingNotExpiredProduct" name="RemovingNotExpiredProduct" wsam:Action="http://webservices/ProductWS/removeExpiredProducts/Fault/RemovingNotExpiredProduct"/>
</operation>
<operation name="returnProducts">
<input wsam:Action="http://webservices/ProductWS/returnProductsRequest" message="tns:returnProducts"/>
<output wsam:Action="http://webservices/ProductWS/returnProductsResponse" message="tns:returnProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/returnProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/returnProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/ProductWS/returnProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/ProductWS/returnProducts/Fault/QuantityNotValidException"/>
</operation>
<operation name="sellProducts">
<input wsam:Action="http://webservices/ProductWS/sellProductsRequest" message="tns:sellProducts"/>
<output wsam:Action="http://webservices/ProductWS/sellProductsResponse" message="tns:sellProductsResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/sellProducts/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/sellProducts/Fault/NoProductException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/ProductWS/sellProducts/Fault/BarcodeNotValidException"/>
<fault message="tns:QuantityNotValidException" name="QuantityNotValidException" wsam:Action="http://webservices/ProductWS/sellProducts/Fault/QuantityNotValidException"/>
<fault message="tns:SellingExpiredProduct" name="SellingExpiredProduct" wsam:Action="http://webservices/ProductWS/sellProducts/Fault/SellingExpiredProduct"/>
</operation>
<operation name="insertLot">
<input wsam:Action="http://webservices/ProductWS/insertLotRequest" message="tns:insertLot"/>
<output wsam:Action="http://webservices/ProductWS/insertLotResponse" message="tns:insertLotResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/insertLot/Fault/OperationNotPermittedException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/ProductWS/insertLot/Fault/RequiredFieldEmptyException"/>
<fault message="tns:BarcodeNotValidException" name="BarcodeNotValidException" wsam:Action="http://webservices/ProductWS/insertLot/Fault/BarcodeNotValidException"/>
<fault message="tns:ExpirationDateNotValidException" name="ExpirationDateNotValidException" wsam:Action="http://webservices/ProductWS/insertLot/Fault/ExpirationDateNotValidException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/insertLot/Fault/NoProductException"/>
</operation>
<operation name="createProductType">
<input wsam:Action="http://webservices/ProductWS/createProductTypeRequest" message="tns:createProductType"/>
<output wsam:Action="http://webservices/ProductWS/createProductTypeResponse" message="tns:createProductTypeResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/createProductType/Fault/OperationNotPermittedException"/>
<fault message="tns:ProductTypeAlreadyPresentException" name="ProductTypeAlreadyPresentException" wsam:Action="http://webservices/ProductWS/createProductType/Fault/ProductTypeAlreadyPresentException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/ProductWS/createProductType/Fault/RequiredFieldEmptyException"/>
</operation>
<operation name="getProductTypes">
<input wsam:Action="http://webservices/ProductWS/getProductTypesRequest" message="tns:getProductTypes"/>
<output wsam:Action="http://webservices/ProductWS/getProductTypesResponse" message="tns:getProductTypesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getProductTypes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getProductTypes/Fault/NoProductException"/>
</operation>
<operation name="getLocalIndexes">
<input wsam:Action="http://webservices/ProductWS/getLocalIndexesRequest" message="tns:getLocalIndexes"/>
<output wsam:Action="http://webservices/ProductWS/getLocalIndexesResponse" message="tns:getLocalIndexesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getLocalIndexes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getLocalIndexes/Fault/NoProductException"/>
</operation>
<operation name="getGlobalIndexes">
<input wsam:Action="http://webservices/ProductWS/getGlobalIndexesRequest" message="tns:getGlobalIndexes"/>
<output wsam:Action="http://webservices/ProductWS/getGlobalIndexesResponse" message="tns:getGlobalIndexesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/ProductWS/getGlobalIndexes/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/ProductWS/getGlobalIndexes/Fault/NoProductException"/>
</operation>
</portType>
<binding name="ProductWSPortBinding" type="tns:ProductWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSellProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getExpiredProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getReturnProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getLotByBarcode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
</operation>
<operation name="removeExpiredProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
<fault name="RemovingNotExpiredProduct">
<soap:fault name="RemovingNotExpiredProduct" use="literal"/>
</fault>
</operation>
<operation name="returnProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
</operation>
<operation name="sellProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="QuantityNotValidException">
<soap:fault name="QuantityNotValidException" use="literal"/>
</fault>
<fault name="SellingExpiredProduct">
<soap:fault name="SellingExpiredProduct" use="literal"/>
</fault>
</operation>
<operation name="insertLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
<fault name="BarcodeNotValidException">
<soap:fault name="BarcodeNotValidException" use="literal"/>
</fault>
<fault name="ExpirationDateNotValidException">
<soap:fault name="ExpirationDateNotValidException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="createProductType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="ProductTypeAlreadyPresentException">
<soap:fault name="ProductTypeAlreadyPresentException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
</operation>
<operation name="getProductTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getLocalIndexes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
<operation name="getGlobalIndexes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductWS">
<port name="ProductWSPort" binding="tns:ProductWSPortBinding">
<soap:address location="http://localhost:8080/ISSRProject/ProductWS"/>
</port>
</service>
</definitions>