web/WEB-INF/wsdl/localhost_8080/ISSRProject/StoreWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="StoreWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ISSRProject/StoreWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getStoreList">
<part name="parameters" element="tns:getStoreList"/>
</message>
<message name="getStoreListResponse">
<part name="parameters" element="tns:getStoreListResponse"/>
</message>
<message name="NoStoresException">
<part name="fault" element="tns:NoStoresToView"/>
</message>
<message name="orderProduct">
<part name="parameters" element="tns:orderProduct"/>
</message>
<message name="orderProductResponse">
<part name="parameters" element="tns:orderProductResponse"/>
</message>
<message name="OperationNotPermittedException">
<part name="fault" element="tns:OperationNotPermitted"/>
</message>
<message name="NoProductException">
<part name="fault" element="tns:NoProductException"/>
</message>
<message name="RequiredFieldEmptyException">
<part name="fault" element="tns:RequiredFieldEmptyException"/>
</message>
<message name="getLogList">
<part name="parameters" element="tns:getLogList"/>
</message>
<message name="getLogListResponse">
<part name="parameters" element="tns:getLogListResponse"/>
</message>
<message name="NoLogException">
<part name="fault" element="tns:NoLogException"/>
</message>
<portType name="StoreWS">
<operation name="getStoreList">
<input wsam:Action="http://webservices/StoreWS/getStoreListRequest" message="tns:getStoreList"/>
<output wsam:Action="http://webservices/StoreWS/getStoreListResponse" message="tns:getStoreListResponse"/>
<fault message="tns:NoStoresException" name="NoStoresException" wsam:Action="http://webservices/StoreWS/getStoreList/Fault/NoStoresException"/>
</operation>
<operation name="orderProduct">
<input wsam:Action="http://webservices/StoreWS/orderProductRequest" message="tns:orderProduct"/>
<output wsam:Action="http://webservices/StoreWS/orderProductResponse" message="tns:orderProductResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/StoreWS/orderProduct/Fault/OperationNotPermittedException"/>
<fault message="tns:NoProductException" name="NoProductException" wsam:Action="http://webservices/StoreWS/orderProduct/Fault/NoProductException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/StoreWS/orderProduct/Fault/RequiredFieldEmptyException"/>
</operation>
<operation name="getLogList">
<input wsam:Action="http://webservices/StoreWS/getLogListRequest" message="tns:getLogList"/>
<output wsam:Action="http://webservices/StoreWS/getLogListResponse" message="tns:getLogListResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/StoreWS/getLogList/Fault/OperationNotPermittedException"/>
<fault message="tns:NoLogException" name="NoLogException" wsam:Action="http://webservices/StoreWS/getLogList/Fault/NoLogException"/>
</operation>
</portType>
<binding name="StoreWSPortBinding" type="tns:StoreWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStoreList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoStoresException">
<soap:fault name="NoStoresException" use="literal"/>
</fault>
</operation>
<operation name="orderProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoProductException">
<soap:fault name="NoProductException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
</operation>
<operation name="getLogList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoLogException">
<soap:fault name="NoLogException" use="literal"/>
</fault>
</operation>
</binding>
<service name="StoreWS">
<port name="StoreWSPort" binding="tns:StoreWSPortBinding">
<soap:address location="http://localhost:8080/ISSRProject/StoreWS"/>
</port>
</service>
</definitions>