web/WEB-INF/wsdl/localhost_8080/ISSRProject/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ISSRProject/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="OperationNotPermittedException">
<part name="fault" element="tns:OperationNotPermitted"/>
</message>
<message name="RoleNotValidException">
<part name="fault" element="tns:RoleNotValidException"/>
</message>
<message name="NoUsersException">
<part name="fault" element="tns:NoUsersException"/>
</message>
<message name="getRoles">
<part name="parameters" element="tns:getRoles"/>
</message>
<message name="getRolesResponse">
<part name="parameters" element="tns:getRolesResponse"/>
</message>
<message name="NoRolesException">
<part name="fault" element="tns:NoRolesException"/>
</message>
<message name="getUserList">
<part name="parameters" element="tns:getUserList"/>
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse"/>
</message>
<message name="createUpdateUser">
<part name="parameters" element="tns:createUpdateUser"/>
</message>
<message name="createUpdateUserResponse">
<part name="parameters" element="tns:createUpdateUserResponse"/>
</message>
<message name="RequiredFieldEmptyException">
<part name="fault" element="tns:RequiredFieldEmptyException"/>
</message>
<message name="LoginNotValidException">
<part name="fault" element="tns:LoginNotValidException"/>
</message>
<message name="EmailNotValidException">
<part name="fault" element="tns:EmailNotValidException"/>
</message>
<message name="NoStoresException">
<part name="fault" element="tns:NoStoresToView"/>
</message>
<portType name="UserWS">
<operation name="removeUser">
<input wsam:Action="http://webservices/UserWS/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://webservices/UserWS/removeUserResponse" message="tns:removeUserResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/UserWS/removeUser/Fault/OperationNotPermittedException"/>
<fault message="tns:RoleNotValidException" name="RoleNotValidException" wsam:Action="http://webservices/UserWS/removeUser/Fault/RoleNotValidException"/>
<fault message="tns:NoUsersException" name="NoUsersException" wsam:Action="http://webservices/UserWS/removeUser/Fault/NoUsersException"/>
</operation>
<operation name="getRoles">
<input wsam:Action="http://webservices/UserWS/getRolesRequest" message="tns:getRoles"/>
<output wsam:Action="http://webservices/UserWS/getRolesResponse" message="tns:getRolesResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/UserWS/getRoles/Fault/OperationNotPermittedException"/>
<fault message="tns:NoRolesException" name="NoRolesException" wsam:Action="http://webservices/UserWS/getRoles/Fault/NoRolesException"/>
</operation>
<operation name="getUserList">
<input wsam:Action="http://webservices/UserWS/getUserListRequest" message="tns:getUserList"/>
<output wsam:Action="http://webservices/UserWS/getUserListResponse" message="tns:getUserListResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/UserWS/getUserList/Fault/OperationNotPermittedException"/>
<fault message="tns:NoUsersException" name="NoUsersException" wsam:Action="http://webservices/UserWS/getUserList/Fault/NoUsersException"/>
</operation>
<operation name="createUpdateUser">
<input wsam:Action="http://webservices/UserWS/createUpdateUserRequest" message="tns:createUpdateUser"/>
<output wsam:Action="http://webservices/UserWS/createUpdateUserResponse" message="tns:createUpdateUserResponse"/>
<fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/OperationNotPermittedException"/>
<fault message="tns:RequiredFieldEmptyException" name="RequiredFieldEmptyException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/RequiredFieldEmptyException"/>
<fault message="tns:LoginNotValidException" name="LoginNotValidException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/LoginNotValidException"/>
<fault message="tns:EmailNotValidException" name="EmailNotValidException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/EmailNotValidException"/>
<fault message="tns:RoleNotValidException" name="RoleNotValidException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/RoleNotValidException"/>
<fault message="tns:NoStoresException" name="NoStoresException" wsam:Action="http://webservices/UserWS/createUpdateUser/Fault/NoStoresException"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RoleNotValidException">
<soap:fault name="RoleNotValidException" use="literal"/>
</fault>
<fault name="NoUsersException">
<soap:fault name="NoUsersException" use="literal"/>
</fault>
</operation>
<operation name="getRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoRolesException">
<soap:fault name="NoRolesException" use="literal"/>
</fault>
</operation>
<operation name="getUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="NoUsersException">
<soap:fault name="NoUsersException" use="literal"/>
</fault>
</operation>
<operation name="createUpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperationNotPermittedException">
<soap:fault name="OperationNotPermittedException" use="literal"/>
</fault>
<fault name="RequiredFieldEmptyException">
<soap:fault name="RequiredFieldEmptyException" use="literal"/>
</fault>
<fault name="LoginNotValidException">
<soap:fault name="LoginNotValidException" use="literal"/>
</fault>
<fault name="EmailNotValidException">
<soap:fault name="EmailNotValidException" use="literal"/>
</fault>
<fault name="RoleNotValidException">
<soap:fault name="RoleNotValidException" use="literal"/>
</fault>
<fault name="NoStoresException">
<soap:fault name="NoStoresException" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/ISSRProject/UserWS"/>
</port>
</service>
</definitions>